/* Styles for navigation bar */
@charset "UTF-8";

  
#main_nav_menu_container {
  background-color: #000000; 
  min-height: 38px;
  width: 100%;
  display: block;
  padding: 2px 0;
  clear: both; 
} 

#main_nav_menu_container .nav_menu { 
  margin: 0;
	padding: 0;
}

#main_nav_menu_toggler {
  color: #FDFD00;
  font-size: 1.5em; 
  font-weight: bolder;
  padding: 2px 15px;
  float: right;
}

#main_nav_menu_toggler a {
  display: inline-block;
  vertical-align: middle;
  color: #FDFD00;
}

#main_nav_menu_toggler .only-collapsed {
  display: none;
}

#main_nav_menu_toggler.collapsed {
  float: none;
}


#main_nav_menu_toggler.collapsed .only-collapsed {
  display: inline-block;
}

.nav_menu {
  display: block;
}

.nav_menu.collapsed {
  display: none;
}

.nav_menu li ul 
{
  display: none;
}

.nav_menu li.active > ul 
{
  display: block;
  left: 0;
}

/*******************************/
/* COMMON STYLES (mobile-first)
/*******************************/

.nav_menu li { 
	list-style-type: none;
  font-size: 1em; 
  font-weight: normal;
}

.nav_menu li a { 
	list-style-type: none;
  color: #FDFD00;
}

/* ======================= */
/* = Primer Nivel        = */
/* ======================= */
.nav_menu > li { 
  font-size: 1.3em; 
  font-weight: bolder;
  padding: 2px 25px;
}

/*****************************************/
/*** STYLES FOR WIDE SCREEN (>= 800px) ***/
 
@media all and (min-width: 800px) {

  #main_nav_menu_toggler {
    width: auto;
    float: right;
  }

  #main_nav_menu {
    width: auto;
  }

  #main_nav_menu ul {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 2px 2px 7px black;
    -webkit-box-shadow: 2px 2px 7px black;
    padding: 0;
    background: #5F603C;
  }

  .nav_menu li { 
    font-weight: bold;
    padding: 2px 25px;
  }

  .nav_menu li a { 
    text-align: center;
  }


  /* ======================= */
  /* = Primer Nivel        = */
  /* ======================= */
  .nav_menu > li { 

    list-style-type: none;
    color: #FDFD00;
    text-align: center;
    font-size: 1.3em; 
    font-weight: bolder;

    padding: 2px 25px;
    position: relative;

    border-right: 1px solid white;

    float: left;
  }

  .nav_menu > li.last	{ border: none !important;  }

  .nav_menu a {

    cursor: pointer;
    text-decoration: none;

    display: block;
    padding: 0.15em 0.5em;

  }

  .nav_menu a:hover { 

    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
  }

  /* ======================= */
  /* = Segundo Nivel       = */
  /* ======================= */
  .nav_menu ul { /* comportamiento de la lista del segundo nivel */

    list-style-type: none;

    margin: 0;
    padding: 0;

    left: -1000em;
    position: absolute;
    z-index: 120;
  }
 
  .nav_menu li:hover ul {
    display: block;
    left: 0;
    /*padding: 200px;*/
  }

  .nav_menu ul li { 

    text-align: center;

    border-radius: 10px;
    -webkit-border-radius: 10px;

    float: none;

  }

  .nav_menu li:hover, .nav_menu ul li:hover, .nav_menu ul li a:hover { 
    position: relative;
  }

  /* ======================= */
  /* = Tercer Nivel        = */
  /* ======================= */
  .nav_menu ul ul { 
    margin: 0 0 0 95%;
    left: -1000em;
    position: absolute;
  }

  .nav_menu li:hover ul ul{ 
    left: -1000em;
  }

  .nav_menu ul li:hover ul{ 
    left: 0;
    top: 3px;
  }
 
}

/**********/
/* ICONS */
/**********/

.navbar-toggle {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: transparent;
}

.icon-bar {
    background-color: #888;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 20px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

