<% communication = interested_communication %>
<%= hidden_inputs_for(communication, count, :hide => []) %>

<td><%= link_to h(communication.communication_description), [communication.interested, communication] %></td>

<td><%= localize(communication.timestamp, :format => :short) %></td>

<td><%= link_to h(communication.h_record), communication.interested %></td>

<td>

</td>
