<%= hidden_inputs_for(mail_template_collection, count, { :hide => ['delete', 'notes' ] }) %>

<td><%= link_to mail_template_collection.codename, mail_template_collection %></td>
<td><%= mail_template_collection.description %></td>

