<table id="<%= params[:action] %>_autonomic_team_form" class="table_form">

  <tr class="form_section">
    <td><%= form.label "sections.data" %></td>
    <td></td>
  </tr>

  <tr class="list_style_1">
    <td><%= form.label :name %></td>
    <td><%= form.text_field :name %></td>
  </tr>

</table>
