<table id="<%= params[:action] %>_country_form" class="table_form">

  <%= render :partial => "local_organizations/form_common", :locals => { :organization_type => 'country', :form => form } %>

</table>

