<div style="width: 80%; padding: 5px 30px 5px 60px">
  <p><i>“Para todas y cada una de nosotras nos sorprendió la solidaridad que tuvieron en el mes de  
  mayo. Creemos que fue el regalo más hermoso que hemos recibido en estos últimos 2 años,   
  gracias por darnos un momento de felicidad, ya que desde la desaparición de nuestros hijos,   
  esposos y hermanos no habíamos tenido ninguna clase de celebración. Creemos que con el  
  apoyo de todos y cada uno de ustedes lograremos la verdad, la justicia, la reparación integral y, 
  sobre todo, no repetición de estos hechos en nuestro país”.</i></p>

  <p style="text-align: right">Mensaje de agradecimiento de las madres de Soacha a Amnistía Internacional en mayo de 2010, <br />
con motivo de la entrega de 5.500 rosas en la Embajada de Colombia, en Madrid.</p>
</div>

<p>Estimado amigo, estimada amiga:</p> 
 
<p style="text-indent: 10px;">Muchas gracias por ponerte en contacto con Amnistía Internacional y por mostrar tu interés en colaborar activamente como voluntario en nuestra organización. Gracias a personas como tú que ofrece su tiempo y disponibilidad, conseguimos seguir luchando en la defensa de los derechos humanos.</p> 

<ul>
  <li style="margin-bottom: 10px"><b>Has contactado con la Sección Española</b> de Amnistía Internacional y vemos que, por los datos que nos envías resides en otro país. Las posibilidades de colaborar dentro de la organización son muchas. Consulta con la sección de tu país en <a href="http://www.amnesty.org/">http://www.amnesty.org/</a> donde podrás informarte del modo en que puedes participar. </li>

  <li style="margin-bottom: 10px"><b>También puedes participar en cualquiera de las Redes de Acción Urgente</b>. Tan sólo te pedimos que escribas y envíes una carta a las autoridades correspondientes para pedirles que intervengan en la situación de una o varias personas por las que Amnistía Internacional siente preocupación por la violación de derechos humanos que están sufriendo. Podrás elegir cuántas acciones urgentes recibirás, así como los casos sobre los que deseas participar (mujeres, menores, defensores de derechos humanos,...). Para más información consulta la siguiente dirección  <a href="http://www.es.amnesty.org/rau/que-es-la-red-de-acciones-urgentes/">http://www.es.amnesty.org/rau/que-es-la-red-de-acciones-urgentes/</a> </li>
</ul>


<p style="margin-left: 10%"><br />Atentamente,</p>

 
<p style="text-align: right; margin-right: 10%">
Sonia Gregorio Cea<br />
Amnistía Internacional. Sección Española<br />
Tfno: 91 3101277<br />
<a href="mailto:sgregorio@es.amnesty.org">sgregorio@es.amnesty.org</a><br />
<a href="http://www.es.amnesty.org">http://www.es.amnesty.org</a></p>